[submodule "src/lib/mdast-util-extended-table"]
	path = src/lib/mdast-util-extended-table
	url = https://github.com/TRIAEIOU/mdast-util-extended-table
[submodule "src/lib/mdast-util-extended-table-to-hast"]
	path = src/lib/mdast-util-extended-table-to-hast
	url = https://github.com/TRIAEIOU/mdast-util-extended-table-to-hast
[submodule "src/lib/micromark-extension-extended-table"]
	path = src/lib/micromark-extension-extended-table
	url = https://github.com/TRIAEIOU/micromark-extension-extended-table
