[submodule "src/lib/mdast-util-extended-table"]
	path = src/lib/mdast-util-extended-table
	url = https://github.com/TRIAEIOU/mdast-util-extended-table
[submodule "src/lib/micromark-extension-extended-table"]
	path = src/lib/micromark-extension-extended-table
	url = https://github.com/TRIAEIOU/micromark-extension-extended-table
[submodule "src/lib/hast-util-to-mdast"]
	path = src/lib/hast-util-to-mdast
	url = https://github.com/TRIAEIOU/hast-util-to-mdast
	branch = extended-table
[submodule "src/lib/mdast-util-to-hast"]
	path = src/lib/mdast-util-to-hast
	url = https://github.com/TRIAEIOU/mdast-util-to-hast
	branch = extended-table
